<section class="vegetables container">
  <div class="veg-con container">
    <h2 class="veg-org">organic<span class="veg">vegetables</span></h2>
     <p class="veg-info">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
   
     <ul class="veg-list">
     
              <li class="veg-item">   
                <div class="veg-card">
                   <h3 class="veg-subtitle">eggplant 
                </h3>  
                 <p class="veg-price">60 UAH / kg</p>    
                <img
                  class="veg-picture"
                  src="../img/vegatebles/eggplant.png" 
                  alt="eggplant" 
                  width="282"
                  height="243"
                />
                </div>
            </li>
             
            <li class="veg-item">
               <div class="veg-card">
               <h3 class="veg-subtitle">leek</h3>
               <p class="veg-price">50 UAH / kg</p>
             
              <img
                class="veg-picture"
                src="../img/vegatebles/leek.png"
                alt="leek"
                width="282"
                height="243"
              /></div>
            </li>
                   <li class="veg-item">
             <div class="veg-card">
                 <h3 class="veg-subtitle">mushrooms</h3>
                 <p class="veg-price">40 UAH / kg</p>
                <img
                  class="veg-picture"
                  src="../img/vegatebles/mushrooms.png"
                  alt="mushrooms"
                  width="282"
                  height="243"
                />
             </div>
            </li>
                
            <li class="veg-item"> 
              <div class="veg-card">
                <h3 class="veg-subtitle">corn</h3>
                 <p class="veg-price">60 UAH / kg</p>
            
                <img
                  class="veg-picture"
                  src="../img/vegatebles/corn.png"
                  alt="corn"
                  width="282"
                  height="243"
                />
              </div>
             
            </li>
                     
            <li class="veg-item">
             <div class="veg-card">
                <h3 class="veg-subtitle">sweet potatoes</h3>
                 <p class="veg-price">50 UAH / kg</p>
        
                <img
                  class="veg-picture"
                  src="../img/vegatebles/potatoes.png"
                  alt="sweet potatoes"
                  width="282"
                  height="243"
                />
             </div>
            </li>
                 
            <li class="veg-item">
              <div class="veg-card">
                  <h3 class="veg-subtitle">carrot</h3>
                 <p class="veg-price">40 UAH / kg</p>
          
                <img
                  class="veg-picture"
                  src="../img/vegatebles/carrot.png"
                  alt="carrot"
                  width="282"
                  height="243"
  
                />
              </div>
              </li>
            </div>
            
</section>
