<section class="vegetables ">
  <div class="veg-con container">
    <h2 class="veg-org">organic<span class="veg">vegetables</span></h2>
     <p class="veg-info">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
   
     <ul class="veg-list">
 
              <h3 class="veg-subtitle">eggplant 
   <p class="veg-price">60 UAH / kg</p>
              </h3>
                  <li class="veg-item">           
              <img
                class="veg-picture"
                src="/img/vegetables/eggplant.jpg"
                alt="eggplant"
                width="282"
                height="243"
              />
            </li>
              <h3 class="veg-subtitle">leek</h3>
               <p class="veg-price">50 UAH / kg</p>
            <li class="veg-item">
             
              <img
                class="veg-picture"
                src="/img/vegetables/leek.jpg"
                alt="leek"
                width="282"
                height="243"
              />
                   <li class="veg-item"> <h3 class="veg-subtitle">mushrooms</h3>
               <p class="veg-price">40 UAH / kg</p>
            </li>
       
              <img
                class="veg-picture"
                src="/img/vegetables/mushrooms.jpg"
                alt="mushrooms"
                width="282"
                height="243"
              />
             
            </li>
                 <h3 class="veg-subtitle">corn</h3>
               <p class="veg-price">60 UAH / kg</p>
            <li class="veg-item">
          
              <img
                class="veg-picture"
                src="/img/vegetables/corn.jpg"
                alt="corn"
                width="282"
                height="243"
              />
             
            </li>
                     <h3 class="veg-subtitle">sweet potatoes</h3>
               <p class="veg-price">50 UAH / kg</p>
            <li class="veg-item">
      
              <img
                class="veg-picture"
                src="/img/vegetables/potatoes.jpg"
                alt="sweet potatoes"
                width="282"
                height="243"
              />
            </li>
                   <h3 class="veg-subtitle">carrot</h3>
               <p class="veg-price">40 UAH / kg</p>
            <li class="veg-item">
        
              <img
                class="veg-picture"
                src="/img/vegetables/carrot.jpg"
                alt="carrot"
                width="282"
                height="243"

              />
            </div>
            

