:root {
}
p {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #fbfbfb;
}
h1 {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 76px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1280) {
  .container {
    width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
