.footer .container{
padding: 0;
} 
.footer{
  background: #7a3145;
  height: 520px;
  width: 100%;
  flex-direction: column;
  justify-content: left;
  padding: 40px 20px;
  margin: auto;
} 
.footer-title{
  display: flex;
  gap: 8px;
}
.footer-logo{
padding-top: 40px;
margin: auto;
}
.footer-logo-icon{
 fill: #fbfbfb;

}

.footer-text{
padding-top: 14px;
margin-right: 20px;
font-weight: 500;
width: 296px;
font-size: 14px;
line-height: 1.17; 
letter-spacing: 0.02em;
color: #fbfbfb;
} 
.footer-menu{
/*margin-left: 32px;*/
}
.footer-menu-list{
/*display: flex;*/
padding-top: 40px;
justify-content: left;
gap: 14px;
} 
.footer-item{
  font-weight: 600;
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
.footer-contacts-link{
  min-width: 215px;
 margin-right: auto;
 font-style: normal; 
 padding-top: 40px;
 gap: 14px;
}
.footer-list-link{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 14px;
  max-width: 215px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  text-shadow: 0 4px 4px 0
   rgba(0, 0, 0, 0.25);
}
.footer-list-address{
  max-width: 179px;
padding-top: 14px;
}
.address-link{
max-width: 179px;
}
.footer-privacy{
  display: flex;
  position: absolute;
  gap: 20px;
}
.footer-list{
    height: 16px;
    margin-top: 40px;
    font-size: 12px;
  }

.footer-policy{
  font-weight: 500;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

.footer-privacy-policy{
  font-weight: 500;
  line-height: 117%;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}


/**---------------media---------*/
@media screen and (min-width: 375px){
  .footer .container{
  max-width: 375px;
  }
 .footer{
  max-width: 375px;
 }
}
/**------------------------*/
/**-----tablet-----------*/

@media screen and (min-width: 768px){
 .footer .container{
 min-width: 768px;
 padding: 32px;
 margin: auto;
 }
.footer-part{
  display: flex;
  flex-direction: row;
}
.footer{
/*display: flex;*/
flex-direction: row;
max-width: 768px;
height: 479px;
}
.footer-logo{
  width: 265px;
  /*padding-top: 32px;*/
}
.footer-text {
  width: 265px;
  font-size: 16px;
}
.footer-menu {
  margin-left: 224px;
}

.footer-menu-list{
  padding-top: 32px;
}
.footer-list-link{
  padding-top: 64px;
  font-size: 18px;
}
.footer-privacy{
  gap: 400px;
}

}
/*-----------------------*/
/**--------desktop---------*/
@media screen and (min-width: 1280px) {
  .footer .container {
    min-width: 1280px;
    padding: 100px;
    margin: auto;
  }
  .footer{
    max-width: 1280px;
    margin: auto;
  }
  
  .footer-part{
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  
  .footer-text {
    width: 265px;
    height: 146px;
  }
.footer-menu{
  display: flex;
  flex-direction: row;
}

  .footer-contacts-link {
    margin-left: 121px;
    padding-top: 0;
  
  }
  .footer-list-link{
    padding-top: 45px;
  }
  .address-link{
    width: 215px;
    height: 85px;
  }
 .footer-privacy {
  padding-top: 50px 100px;
   gap: 700px;
    }
 .footer-list{
  font-size: 18px;
 }
}