/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./common.css');
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./test-text.css');
@import url('./footer.css');
