.works .container {
  background-color: darkgoldenrod;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.image-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7a3145;
  padding: 40px 20px;
  width: 375px;
  height: 530px;
}
.works-image {
  position: absolute;
  top: 40px;
  padding: 40px;
  left: 20px;
  right: 20px;
  border-radius: 30px;
}

/*rgba(20, 20, 20, 0.3);*/

.works-order {
  background-color: #576f35;
  padding: 80px 20px;
}

.works-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.works-title-accent {
  color: rgba(251, 251, 251, 0.3);
}

.works-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.works-order-list {
  list-style: none;
}
.works-order-steps {
  display: flex;
  gap: 24px;
  flex-shrink: 0;
  align-self: center;
  justify-content: center;
  background-color: #fbfbfb;
  border-radius: 15px;
  padding: 12px 24px;
  width: 335px;
  height: 76px;
}

.works-order-steps::before {
  content: '1';
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #7a3145;
  stroke-width: 5px;
  stroke: rgba(122, 49, 69, 0.3);
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.works-order-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
}
.works-order-text-accent {
  font-weight: 700;
  color: #141414;
}

@media screen and (min-width: 768px) {
  .image-box {
    padding: 100px 64px;
    width: 768px;
    height: 840px;
  }
  .works-image {
    width: 640px;
  }
  .works-order {
    padding: 100px 159px;
  }
  .works-title {
    margin-bottom: 25px;
  }
  .works-text {
    margin-bottom: 50px;
  }

  .works-order-steps {
    max-width: 450px;
  }
}
@media screen and (min-width: 1280px) {
  .works {
    display: flex;
    flex-direction: row;
  }
  .image-box {
    padding: 100px;
    width: 630px;
    height: 759px;
  }
  .works-image {
    width: 430px;
  }
  .works-order {
    padding: 100px 100px 160px 100px;
  }
}
